xfactor/Service References/ServiceReference1/XPFactor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SymatiqueGED_WS.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SymatiqueGED_WS.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="XPFactorModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_piece" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Contrat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Piece" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type_Piece" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XPFactorModel" nillable="true" type="tns:XPFactorModel" />
  <xs:complexType name="ResClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDDocument" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResClass" nillable="true" type="tns:ResClass" />
</xs:schema>