xfactor/Service References/ServiceReference1/XPFactor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvshpgedweb.poulinagh.pgh:2080/Service/XPFactor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SymatiqueGED_WS.Model" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SymatiqueGED_WS.Model" minOccurs="0" name="document" nillable="true" type="q1:XPFactorModel" />
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="folderPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SymatiqueGED_WS.Model" minOccurs="0" name="UploadResult" nillable="true" type="q2:ResClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>